.sm-login {
    min-height: calc(100vh - 50px);
}
.sm-login>div {
    margin-top: -25px;
}
.sm-title-login {
    font-size: 1.5rem;
    margin: 40px;
    position: absolute;
    top: 0;
    z-index: 1;
}
span.error {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: .7rem;
    color: #F44336;
}
.uk-input.error:focus {
    border-color: #F44336;
}