@import "fonts/FontAwesome/font-awesome.css";
@import "fonts/MaterialIcons/material-icons.css";
@import "fonts/GothamPro/styles.css";
@import "fonts/GothamPro-Medium/styles.css";
@import "fonts/GothamPro-Bold/styles.css";
@import "fonts/GothamPro-Light/styles.css";
@import "lib/jquery.datetimepicker.min.css";
@import "lib/color.css";
body {
    font-family: 'GothamPro';
    font-size: 14px;
    background: #eee;
    color: #333
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GothamPro-Medium' !important;
}

a.fa {
    text-decoration: none;
}

::-moz-selection {
    background: #F44336;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #F44336;
    color: #fff;
    text-shadow: none
}

.uk-text-small {
    font-size: .75rem !important;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    height: 50px;
    color: #fff;
    font-family: 'GothamPro';
}

.uk-navbar-item>i, .uk-navbar-nav>li>a>i, .uk-navbar-toggle>i {
    margin-top: -2px;
    margin-right: 8px;
}

.uk-dropdown {
    padding: 1rem !important;
}

.uk-card-small .uk-card-header {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 15px;
}

.uk-card-small .uk-card-body {
    padding-top: 10px;
}

.uk-card-small .uk-card-body+.uk-card-footer {
    margin-top: -10px;
}

.uk-card.no-header .uk-card-body {
    padding-top: 20px;
}

.uk-card.no-header .uk-card-body+.uk-card-footer {
    margin-top: 0px;
}

.uk-form-controls {
    position: relative;
}

.sm-text-bold {
    font-family: 'GothamPro-Bold' !important;
}

.sm-text-lite {
    font-family: 'GothamPro-Light' !important;
}

.uk-card-title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.uk-card-footer {
    padding-left: 12px !important;
}

.uk-button-small {
    padding: 2px 15px 0;
}

.sm-label {
    margin-top: -2px;
    padding-top: 2px;
    line-height: 1.5rem;
}

.sm-label:hover {
    opacity: 0.7;
    text-decoration: none;
}

.sm-nav-main {
    background: #EC1C23 !important;
    height: 50px;
}

.sm-nav-sub {
    background: #000 !important;
    height: 50px;
}

.sm-nav-sub .uk-navbar-nav>li>a {
    padding: 0 10px;
}

.sm-logo {
    height: 30px;
    background: #fff;
    padding: 10px;
    display: inline-block;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-right: 1rem;
}

.sm-logo-round {
    background: #fff;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    right: -10px;
    overflow: hidden;
}

.sm-logo-round:after {
    content: "";
    display: block;
    background: #EC1C23;
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.sm-title-page {
    color: #fff;
    font-family: 'GothamPro-Medium';
    line-height: 100%;
    margin: 0;
    padding: 4px 0 0;
    text-transform: uppercase;
    font-size: 1rem;
}

.sm-title-sub {
    display: inline-block;
    line-height: 50px;
    width: 160px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
}

.sm-footer {
    color: #535455;
    background: #ccc;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: .75rem;
}

.sm-main {
    min-height: calc(100vh - 150px - 60px);
    padding: 30px;
}

.sm-main.sm-nosubnav {
    min-height: calc(100vh - 160px);
}

.sm-nav-round {
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #fff;
    padding: 0 !important;
    margin: 10px 5px;
    text-align: center;
}

li:hover .sm-nav-round {
    border-color: #666;
}

.sm-nav-round .uk-badge {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: .6rem;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    background: #000;
    padding: 2px 0 0;
}

.sm-card-action {
    width: 150px;
    padding: 0 !important;
    margin-left: 0 !important;
}

.sm-chartcover {
    min-height: 100px;
    margin-bottom: 10px !important;
}

.sm-chart {
    width: 100%;
    min-height: 290px;
}

.sm-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
}

.sm-list li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0px;
}

.sm-list li:last-child {
    margin-right: 0;
}

.sm-totop {
    margin: 7px;
    margin-right: 50px;
}

.fullscreen {
    display: block;
    z-index: 999;
    position: fixed !important;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    overflow: auto;
    padding: 0 !important;
    margin: 0 !important
}

.fullscreen .sm-chart {
    height: calc(100vh - 67px);
    width: calc(100vw - 40px);
}

a.btn-unhide {
    position: fixed;
    right: .5rem;
    bottom: 50px;
    text-decoration: none;
}

a.btn-screenshot {
    position: fixed;
    right: .5rem;
    bottom: 7px;
    text-decoration: none;
}

.sm-badge {
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.sm-alert {
    top: 0 !important;
    position: fixed;
    z-index: 9999;
    width: calc(100% - 44px);
    margin-top: 0 !important;
}

.sm-btn-openticket .hover {
    display: none;
}

.sm-btn-openticket:hover .hover {
    display: inline-block;
}

.sm-btn-openticket .nothover {
    display: inline-block;
}

.sm-btn-openticket:hover .nothover {
    display: none;
}

.sm-btn-openticket:hover {
    background-color: #ff9800 !important;
    color: #fff !important;
}

.sm-btn-openticket:hover:before {
    content: "Open Ticket";
}

.sm-list-item {
    margin: 10px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    list-style: none;
    counter-reset: cntr;
}

.sm-list-item>li {
    position: relative;
    padding: 0 2rem;
}

.sm-list-item>li:first-child {
    padding-top: 10px;
}

.sm-list-item>li:last-child {
    padding-bottom: 10px;
}

.sm-list-item>li:before {
    content: counter(cntr);
    counter-increment: cntr;
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 22px;
    border-radius: 50%;
    color: #fff;
    background: #999;
    text-align: center;
    font-size: .75rem;
}

.sm-del-row {
    position: absolute;
    right: 0;
    top: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
}

.sm-icon-nav .uk-icon-button {
    text-align: center;
    line-height: 40px;
    font-size: .75rem;
    text-decoration: none;
}

.sm-icon-nav>* {
    padding-left: 5px;
}

.sm-form-prefix {
    position: absolute;
    left: 25px;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 42px;
    display: inline-block;
    text-align: left;
    padding: 0;
    font-size: .75rem;
}

.sm-form-prefix+*+.uk-input {
    padding-left: 50px !important;
}

label.error {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: .7rem;
    color: #F44336;
}

.uk-input.error:focus {
    border-color: #F44336;
}

#report_add .uk-card-body {
    min-height: calc(100vh - 160px - 37px - 65px - 20px);
}
.sm-media {
    display: none;
}
.sm-drop-notif .uk-card {
    margin-right: -10px;
    margin-top: 20px;
    position: relative;
}
.sm-drop-notif .uk-card:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #F44336 transparent;
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
}
.sm-drop-notif .uk-card-header,
.sm-drop-notif .uk-card-footer {
    padding: 10px 20px 9px !important;
}
.sm-drop-notif .uk-card-body {
    max-height: 50vh;
    overflow: auto;
}
.sm-drop-notif .uk-card-body+.uk-card-footer {
    margin-top: 0;
}
.sm-drop-notif .uk-card-body a {
    color: #333;
    display: inline-block;
}